# System files
private
*.DS_Store

# Logs
logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled, optimized, and DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging
__pypackages__/
.eggs/
.installed.cfg
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# C extensions
*.so

# Celery
celerybeat-schedule
celerybeat.pid

# Environments
.venv
.venv/
venv/
venv.bak/
*.local

# Databases
*.db
*.sqlite3

# IPython
profile_default/
ipython_config.py

# Jupyter Notebook
.ipynb_checkpoints

# MkDocs
/site

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyBuilder
target/

# PyEnv
.python-version

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# Rope
.ropeproject

# Ruff
.ruff_cache/

# SageMath parsed files
*.sage.py

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# Spyder
.spyderproject
.spyproject

# Temporary
temp
tmp

# Translations
*.mo
*.pot

# Unit test and coverage reports
.hypothesis/
.pytest_cache/
.nox/
.tox/
.cache
.coverage
.coverage.*
htmlcov/
coverage.xml
nosetests.xml
program.prof
*.cover
*.py,cover
